$Roboto: 'Roboto', sans-serif;

$bgcolor: #fff;
$maintext: #000;
$textsize: 1.8em;

$bordercolor: #dddddd;

$bilgilogo: #fff;

$bgmenu: #1E90FF;
$menutext: #FFFFFF;


$bgsidemenu: #708090;
$sidemenutext: #FAF0E6;

$bghead: #333;
$headtext: #fff;


$ColorDark: #333;
$brighttext: #fff;
$greycolor: #ccc;


$menuheight: 80px;
$parallaxHeight: 150px;


$triangleSize: 100px;
$wrappush: 100px;

$icons:(twitter,facebook,instagram);
